*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
header{
    width: 100%;
    min-height: 70vh;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image:url(/images/banner-bg.png);
    background-size: cover;
    background-position: center;
}

.content h1{ 
    font-size: 45px;
    color: black;
    padding-left: 3rem;
    font-weight: bold;
}
.content h2{
    color: white;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    padding-left: 3rem;
}
.content p{
    font-size: 20px;
    color: white;
    padding: 10px 0 0 100px;
    padding-left: 3rem;
}
.content button{
    border-radius: 0;
    
}
.about{
    height: 65vh;
    width: 100%;
}
section h3{
    font-size: 7vh;
    font-weight: 700;
    color:sandybrown;
    padding: 100px 0 0 0;
}
.btn1{
    margin: 10px 0 0 0;
    border-radius: 0;
}
.gallery{
    width: 100%;
    padding-bottom: 90px;
    float: left;
    min-height: 150vh;
}
.gallery h3{
    font-size: 8vh;
    color: sandybrown;
    text-align: center;
}
.gallery p{
    font-size: 2vh;
    color: black;
    text-align: center;
}
.gallery img{
   height: 100%;
   width: 350px;
}
.seemore{
display: flex;
text-align: center;
margin: 0 auto;
width: 170px;
border-radius: 0%;
    
}
.seemore a{
    width: 100%;
    text-decoration: none;
    padding: 5px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    background-color: #252525;
    
}
.services{
    background-image: url(/images/services-bg.png);
    background-attachment: fixed;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    float: left;
    padding-bottom: 100px;
}
.services h2{
    text-align: center;
    color: white;
    font-size: 8vh;
    padding-top: 50px;
    font-weight: 700;
}
.services p{
    font-size: 2.5vh;
    color: white;
    text-align: center;
    padding-top: 20px;
}
.box{
    width: 100%;
    background-color: salmon;
    transition: 0.9s;
    height: 250px;
}
.icon{
    width: 200px;
    height: auto;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.icon img{
    width: 45px;
    min-height: 45px;
}
.box h3{
    width: 100%;
    font-size: 28px;
    color: #fff;
    padding-top: 30px;
    text-align: center;
}
.box p{
    width: 100%;
    font-size: 16px;
    color: #fff;
    margin: 0;
    text-align: center;
    font-weight: 300;
}
.box:hover{
    background-color: orangered;
    height: 300px;
    color: black;
}
.Testimonial{
    padding-top: 50px;
    min-height: 80vh;
    width: 100%;

}
.Testimonial h2{
    padding-top: 50px;
    font-size: 8vh;
    color: sandybrown;
}
.Testimonial h4{
    font-size: 5vh;
    color: #F76D37;
    padding: 10px 100px;
}
.Testimonial h6{
    font-size: 2vh;
    color: gray;
    flex-wrap: wrap;
    width: 80%;
    padding: 10px 100px;
}
.contect h2{
    text-align: center;
    color: salmon;
    font-size: 8vh;
    padding-top: 50px;
    font-weight: 700;
    padding-bottom: 50px;
}
.contect{
    height: 100vh;
    width: 100%;
}
.contect-img{
    background-image: url(/images/img-9.png);
    background-position: center;
    background-attachment: fixed;
    height: 550px;
    
}
input{
    width: 80%;
    border-radius: 40px;
    margin-bottom: 15px;
    padding: 35px;
    height: 35px;
    margin-left: 80px; 
    border: none;

}
textarea{
    color: #080707;
    width: 80%;
    height: 150px;
    font-size: 20px;
    padding: 40px;
    border: 0;
    border: none;
    border-radius: 50px;
    margin-left: 80px; 
}
.btn3{
    padding: 10px 50px;
    border-radius: 50px;
    border: none;
    margin-left: 300px;


}
.footer{
    width: 100%;
    background-color: #252525;
}
.group h2{
    color: white;
    padding-top: 30px;
    margin-left: 30px;
}
.group ul li{
    list-style: none;
    color: white;
    display: block;

}
.group p{
    color: white;
}
.footer-text{
    background-color: #fff;
    margin: auto;
}
.footer-text h5{
    text-align: center;
    padding: 10px 0;
}

@media only screen and (max-width: 620px){
    .header{
        width: 100%;
    }
    .banner{
        background-image:url(/images/banner-bg.png);
        background-size: cover;
        background-position: center;
    }
    .banner h1,h2,p{
     padding-left: 0!important;
    }
    .banner .btn{
        margin-left: 0!important;
        margin-top: 20px;
    }
    .about{
        min-height: 130vh;
    }
    .about .col-lg-6{
        width: 100%;
        height: 50%;
        margin-left: 0;
        margin-bottom: 20px;
    }
    .about .col-lg-6 img{
        height: 100%;
        width: 100%;
    }
    .gallery .col-lg-4{
        margin-bottom: 20px;
    }
    .gallery .col-lg-4 img{
        width: 100%;
        height: 100%;
    }
    .services .col-lg-4{
        margin-bottom: 20px;
    }
    .Testimonial h2{
        text-align: left;
    ;
    }
    .Testimonial p{
        text-align: justify;
    }
    .Testimonial h4{
        text-align: left;
        padding: 0;
    }
    .Testimonial h6{
        width: auto;
        padding: 0;
        text-align: justify;
        line-height: 25px;
    }
    .contect{
        height: auto;
    }
    .contect .col-lg-6{
        height: 50%;
    }
    .contect input,textarea{
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
        display: flex;
    }
    .btn3{
        display: flex;
        margin: auto;
    }
    .footer h2{
        margin: 0;
    }
    iframe{
        margin-top: 20px;
        margin-bottom: 20px;
        height: 60vh;
    }
    .footer .col-lg-3 h2,p{
        margin: 0;
        padding: 0;
        padding-top: 20px;
        padding-bottom: 10px;
        text-align: justify;
    }
    .footer ul{
        padding: 0;
    }

}

